+style('footer', 'blocks')
footer.footer
    .case
        .footer__wrap.row
            .footer__logo
                img(src="" alt="")
            .footer__nav

            .footer__phone
                .footer__phone-icon
                    img(src="" alt="")
                .footer__phone-value #[a(href="tel:") ]