+style('footer', 'blocks')
footer.footer
    .case
        .footer__wrap.row
            .footer__logo
                img(src=require("../../images/logo-white.png") alt="")
            .footer__nav
                ul
                    li
                        a(href="#intro") Главная
                    li
                        a(href="#solutions") Решения
                    li
                        a(href="#consult") Консалтинг
                    li
                        a(href="#about") О компании
                    li
                        a(href="#contacts") Контакты
            .footer__phone
                .footer__phone-icon
                   img(src=require("../../images/tel.svg") alt="")
                .footer__phone-value #[a(href="tel:+74997097900") +7 (499) 709-79-00]