extends ../layout/template
block vars
    -
        title = "Главная страница"
block content
    .intro
        .case
            .intro__wrap
                .intro__content
                    .intro__title #[b Воплощаем] <br>ваше <br> видение в <br> реальность <br>
                    .intro__list
                        .intro__item
                            .intro__item-icon
                                img(src="" alt="")
                            .intro__item-title #[b Ускоряем] работу
                        .intro__item
                            .intro__item-icon
                                img(src="" alt="")
                            .intro__item-title #[b Упрощаем] процессы
                .intro__img
                    img(src="" alt="")
        .intro__round
            img(src="" alt="")

    .solutions
        .case
            .solutions__title.h2 Решения
        .solutions__list
            .solutions__item
                .case
                    .solutions__wrap
                        .solutions__img
                            img(src="" alt="")
                        .solutions__content
                            .solutions__name.h3 Обработка крупных потоков документов
                            .solutions__text
                                p Решение позволяет производить автоматизированную обработку крупных массивов документов по полному циклу: оцифровка, классификация (определение типа документа по внешнему виду), извлечение атрибутивной информации, экспорт данных в целевые системы, хранение документов в электронном виде.
                .solutions__round
                    img(src="" alt="")
            .solutions__item
                .case
                    .solutions__wrap
                        .solutions__img
                            img(src="" alt="")
                        .solutions__content
                            .solutions__name.h3 Обработка запросов / текстовая аналитика
                            .solutions__text
                                p Решение позволяет производить автоматизированную обработку крупных массивов документов с  использованием алгоритмов интеллектуального анализа текстовых данных (на естественных языках) и дальнейшей классификации документов на основе их содержания с выделением ряда смысловых сущностей: адрес, дата, ФИО, содержание запроса/обращения. На основе полученных данных система определяет кому или на какое подразделение необходимо направить поступивший запрос или обращение
                .solutions__round
                    img(src="" alt="")
            .solutions__item
                .case
                    .solutions__wrap
                        .solutions__img
                            img(src="" alt="")
                        .solutions__content
                            .solutions__name.h3 Автоматизация кадрового документооборота
                            .solutions__text
                                p HR-ЭДО - это система автоматизации процессов кадрового документооборота и взаимодействия с удаленными сотрудниками. Решение позволяет автоматизировать процессы кадрового документооборота и обеспечить взаимодействие с сотрудниками работающими удаленно с соблюдение требований Российского законодательства.
                                h4 Основные сценарии использования системы:
                                ul 
                                    li Прием сотрудника на работу
                                    li Увольнение сотрудника
                                    li Оформление больничного листа
                                    li Оформление отпуска
                                    li Оформление акта на материальную ответственность
                                    li Ознакомление сотрудника с нормативными документами
                                    li Отправка уведомлений и распоряжений
                                    li Запросы на предоставление документов
                                    li Оформление заявлений на обучение (повышение квалификации) сотрудника
                .solutions__round
                    img(src="" alt="")
            .solutions__item
                .case
                    .solutions__wrap
                        .solutions__img
                            img(src="" alt="")
                        .solutions__content
                            .solutions__name.h3 Интеллектуальный поиск (работа с архивами)
                            .solutions__text
                                p Решение для быстрого поиска информации из всех корпоративных систем с использованием технологий искусственного интеллекта и применением семантического анализа текста. Позволяет производить расширенный поиск по заданным ключевым словам, с подбором синонимичных и смысловых значений.
                                p Система производит извлечение объектов (мета-данные), фактов и связей между ними, помогает находить закономерности в большом массиве данных, предоставляя информацию пользователю для принятия необходимого решения.

                .solutions__round
                    img(src="" alt="")

            .solutions__item
                .case
                    .solutions__wrap
                        .solutions__img
                            img(src="" alt="")
                        .solutions__content
                            .solutions__name.h3 Система управления бизнес-процессами
                            .solutions__text
                                p В основе решения лежит универсальная и гибкая платформа нового поколения с современным интерфейсом для настройки и организации сложных бизнес-процессов и автоматизации документооборота компаний в различных сферах бизнеса. 
                                p Высокую скорость работы - меньше секунды на все основные операции: система оптимизирована для работы в современных условиях распределенных сетей, в том числе на слабых каналах передачи данных.
                .solutions__round
                    img(src="" alt="")
    .consult
        .case
            .consult__list
                .consult__item
                    .consult__title.h2 Консалтинг
                    .consult__text
                        p Оказание информационно-аналитических услуг по вопросам ИТ-процессов, ИТ-архитектуры, эксплуатации, выбора аппаратно-программных решений, средств виртуализации, автоматизации и управления ресурсами, а так же предоставление услуг проектирования, внедрения, обучения и независимой экспертной оценки эффективности использования ИТ?
                .consult__item
                    .consult__text
                        h4  Исследование ИТ-инфраструктуры
                        p Обеспечивает получение объективной, актуальной, систематизированной и достоверной информации о составе и состоянии существующей ИТ-инфраструктуры и позволяет снизить риски при планировании и реализации ИТ-проектов, обеспечить соответствие лицензионным и нормативным требованиям, повысить эффективность использования имеющихся ресурсов и получить базовые рекомендации по дальнейшему развитию ИТ-инфраструктуры.
                .consult__item
                    .consult__name Анализ производительности
                    .consult__text
                        h4 ИТ-инфраструктуры
                        p Позволяет определить не только актуальный состав, но выявить возможные резервы таковой, недочеты в её работе или отдельных подсистем, а также определить точки отказа и потенциальные «узкие места», которые могут стать причиной потери ценной информации или же
                .consult__item
                    .consult__name
                    .consult__text
                        h4 Оптимизация ИТ-инфраструктуры
                        p Позволяет следовать трендам развития современных технологий и потребностям бизнеса. Данная услуга предоставляет максимально эффективные пути трансформации ИТ, а также комплексные рекомендации по модернизации или преобразованию ИТ-инфраструктуры в целом или отдельных её подсистем.

    .about
        .case
            .about__content
                .about__title.h2
                .about__text
                    p
                    p
                    p
            .about__img
                img(src="" alt="")
                span

    .questions
        .case
            .questions__wrap
                .questions__title
                .questions__texxt
                .questions__form
                    .questions__field.field.--required
                        .field__wrap
                            input.field__area(type="text" name="name" placeholder="")
                    .questions__field.field.--phone.--required
                        .field__wrap
                            input.field__area(type="tel" name="phone" placeholder="")
                    button.questions__button.button
                .questions__bg
                    img(src="" alt="")