doctype html
block vars
include mixins
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="format-detection" content="telephone=no")
        meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1.0, user-scalable=no")
        meta(name="apple-mobile-web-app-capable" content="yes")
        title=title
    body
        .wrap
            +style('main.sass')

            include ../blocks/header/header
            
            main.main
                block content
            
            include ../blocks/footer/footer

            +script('main.js')
            //- script(src="template/js/common.js" + version)